body {
    background-color:   #e0bd9f;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    font-size: 88px;
    font-weight: lighter;
    color:#124c4e;
}

.mainPageLogo {
    font-size: 100px;
    line-height: 2em;
    font-family: "Protest Guerrilla", sans-serif;
}

button {
    width: 198px;
    height: 38px;
    background-color: #124c4e;
    color: #f3f5f4;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 14px;
    box-shadow:8px 8px #8a7769;
}

#content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}